/*
Code create by Anathapindika Surja Putra & Dhimas Bagus Utomo
1. Navigasi
2. Showcase
3. Product
4. Main footer
5. Second Footer
*/

/* Navigasi */
#main-navbar a {
    border-bottom: 5px solid #f8f9fa;
    text-transform: uppercase;
}

#main-navbar a:hover, #main-navbar .active {
    border-bottom-color: black;
    transition: border-color 500ms;
}


/* SHOWCASE */
#showcase {
    background: url("../images/home/showcase_bg.jpg");
    height: 600px;
    padding-top: 150px;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

#showcase h1 {
    padding-top: 250px;
}

.dark-overlay{
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    width: 100%;
    min-height: 600px;
}

/* PRODUCT */
#product i[class^="bi"]{
    font-size: 4rem;
}

.font{
    color: whitesmoke;
}

/*MAIN-FOOTER*/
.main-footer {
    position: absolute;
}

/*SECOND-FOOTER*/
.second-footer {
    position: relative;
    top: 30px;
    right: auto;
    left: auto;
}